/* HTML STRUCTURE */
/* Step -1 - parentContainer */
/* step -2 - component */
/* step -3 - componentContainer */
/* step -4 - row */
/* step -5 - column */
/* step -6 - subColumn */
/* step -7 - contentContainer */
/* step -8 - content */

/* parent Container - default css style */


/* step -2 - component */
.banner2{
    /* background-color: rgb(241, 11, 11);   */
    background-image: url(./assets/images/sofa2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

/* step -3 - componentContainer */
.banner2Container {
    /* background-color: rgb(91, 226, 12); */

}

/* step -4 - row */
.banner2Body {
    /* background-color: rgb(255, 255, 255); */

}

/* step -5 - column */
.banner2Block {
    /* background-color: #fc03c6; */
    

}

/* step -6 - subColumn */
.banner2Box {
    /* background-color: #dfbd4d; */
    padding: 30rem 0rem;
    
    
   
    
}

/* step -7 - contentContainer */



